//VITE_API_BASE_URL=http://192.168.100.7:8082/api

VITE_API_BASE_URL=https://localhost:7136/api

//VITE_API_BASE_URL=http://localhost:81/api

//VITE_API_BASE_URL=http://192.174.0.120:81/api

//VITE_API_BASE_URL=http://167.86.119.12/api



VITE_APP_VERSION=1.0.0
VITE_APP_BUILD_NUMBER=1

